.Timer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 170px;
    font-size: 30px;
}
.time{
    padding: 5px;
    border-radius: 10px;
    text-align: center;
    color: white;
    background-color: #1f517a;
}